<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Something went bad</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Something went wrong!
            </h1>
            <h2 class="subtitle">
                <pre class="has-background-dark" style="color: red;">
                {{ message }}
                </pre>
            </h2>
        </div>
    </div>
</section>
</body>
</html>